.nkp-nav {
    background-color: transparent;
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: ease-in-out .3s all;
    @include media-breakpoint( max-767 ) {
        background-color: $color-black;
    }

    &.has-background {
        background-color: $color-black;
        box-shadow: 0 0 15px rgba(0,0,0,.4);
    }

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        @include media-breakpoint( max-767 ) {
            height: 72px;
        }
    }

    .nkp-nav__logo {
        font-weight: 900;
        font-size: 27px;
        cursor: pointer;
        transition: ease-in-out .3s color;
        &:hover {
            color: $color-light-grey;
        }
        &.white {
            color: $color-white;
        }
    }

    .nkp-nav__menu, .nkp-nav__hamburger {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
        }
    }
    
    .nkp-nav__menu {
        display: flex;
        li {
            cursor: pointer;
            transition: ease-in-out .3s background-color;
            background-color: transparent;
            height: fit-content;
            &:hover {
                background-color: $color-blue;
                a {
                    opacity: 1;
                }
            }
        }
        a {
            display: block;
            padding: 32px 24px;
            opacity: .7;
            transition: ease-in-out .3s opacity;
            cursor: pointer;
        }
        @include media-breakpoint( max-767 ) {
            display: none;
        }
    }

    .nkp-nav__hamburger {
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        position: absolute;
        top: 72px;
        background-color: $color-black;
        left: 0;
        width: 100%;
        text-align: center;
        transition: ease-in-out .4s;
        a {
            display: block;
            width: 100%;
            padding: 32px 0;
            border-bottom: 1px solid $color-light-grey;
            transition: ease-in-out .3s background-color;
            cursor: pointer;
            &:hover {
                background-color: $color-blue;
            }
        }
        li:first-child {
            a {
                border-top: 1px solid $color-light-grey;
            }
        }
        li:last-child {
            a {
                border-bottom: none;
            }
        }
        &.active {
            visibility: visible;
            opacity: 1;
            max-height: 352px;
        }
    }

    .nkp-nav__hamburger-btn {
        display: none;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 16px;
        cursor: pointer;
        @include media-breakpoint( max-767 ) {
            display: block;
        }
    }

}
